@using System.Data;
@using FirstPlaylist.App_Code;



<!DOCTYPE html>


@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="~/Scripts/jquery-3.0.0.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.js"></script>

    <link rel="stylesheet" href="~/style.css" />
    <link rel='icon' href='favicon.jpg' type='image/jpg' />
</head>
<body>
    <div class="header">
        <h1 class="text">
            <a href="~/viewpage1.cshtml">
                BLUE<b>PLAY</b>
            </a>
        </h1>
    </div>

    <div class="boxcontainer">
        <a class="btn btn-outline-primary" href="~/viewpage1.cshtml">Go back to homepage</a>
        Nummers Toevoegen<br /><br />
        <div class="formfield">
            <form method="post" action="#">
                <input class="form-control mb-2" type="text" name="title" placeholder="Titel" />
                <input class="form-control mb-2" type="text" name="artist" placeholder="Artiest" />
                <input class="form-control mb-2" type="text" name="album" placeholder="Album" />
                <input class="form-control mb-2" type="text" name="year" placeholder="Jaar" />
                <input class="form-control mb-2" type="text" name="length" placeholder="Lengte" />
                <input class="form-control mb-2" type="text" name="file" placeholder="File" />
                <input class="btn btn-primary" type="submit" value="Opslaan" />
            </form>
        </div>
    </div>


    @if (IsPost) {

        string title = Request.Form["title"];
        string artist = Request.Form["artist"];
        string album = Request.Form["album"];
        string year = Request.Form["year"];
        string length = Request.Form["length"];
        string pfile = Request.Form["file"];

        SongMethods sm = new SongMethods();
        DataSet dsws = sm.GetAllSongs();

        DataRow dr = sm.GetEmptyRow();

        dr["title"] = title;
        dr["artist"] = artist;
        dr["album"] = album;
        dr["year"] = year;
        dr["length"] = length;
        dr["file"] = file;

        sm.SaveRow(dr);
        Response.Redirect(@"~/ViewPage1.cshtml");
    }
    }
</body>
</html>
