@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BLUEPLAY Edit</title>

    <script src="~/Scripts/jquery-3.0.0.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.js"></script>

    <link rel="stylesheet" href="~/style.css" />
    <link rel='icon' href='favicon.jpg' type='image/jpg' />
</head>
<body>
    <div class="header">
        <h1 class="text">
            <a href="~/viewpage1.cshtml">
                BLUE<b>PLAY</b>
            </a>
        </h1>
    </div>
    <div class="menustyle">

    </div>
        <div>
            @{
                string x = Request.QueryString["id"];

                <h1>@x</h1>

                if (x == null || x == "")
                { <h1 class="text">OEII, er is geen ID meegegeven!</h1> }

            }
        </div>
</body>
</html>
