body {
    background-color: #343a40;
    color: white;
}
.header {
    text-align: center;
    color: white;
}
.header:hover {
    color: #0069D9;
}
.header b {
    color: #0069D9;
}
.header:hover b {
    color: white;
}

.menustyle {
    width: 80%;
    margin: auto;
}

.boxcontainer {
    width: 80%;
    margin: auto;
}
.formfield {
    width: 40%;
    margin: auto;
}